<nav>
    <h2>Filter articles</h2>
    <div *ngIf="categories">
        <h3><button>Categories</button></h3>
        <ul>
            <li *ngFor="let category of categories">
                <a [routerLink]="['/categories/' + category.id]">{{ category.name }}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="languages">
        <h3><button>languages</button></h3>
        <ul>
            <li *ngFor="let language of languages">
                <a [routerLink]="['/languages/' + language.id]" routerLinkActive="router-link-active" >{{ language.name }}</a>
            </li>
        </ul>
    </div>
</nav>